/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Audrey Font Family */
@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-Normal.otf') format('opentype'),
        url('/fonts/Audrey-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-BoldOblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-MediumOblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-NormalOblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}