
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;

    --card: #ffffff;
    --card-foreground: #020617;

    --popover: #ffffff;
    --popover-foreground: #020617;

    --primary: #1e293b;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020617;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #525252;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #d4d4d8;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;

    --card: #020617;
    --card-foreground: #f8fafc;

    --popover: #020617;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #1e293b;

    --secondary: #334155;
    --secondary-foreground: #f8fafc;

    --muted: #334155;
    --muted-foreground: #94a3b8;

    --accent: #334155;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #334155;
    --input: #334155;
    --ring: #cbd5e1;
    --sidebar-background: #171717;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #262626;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
